body {
    display: grid;
    place-items: center;
}

#hello {
    height: 300px;
    width: 300px;
    background-color: red;
    font-weight: bold;
    display: grid;
    place-items: center;
    margin: 20px;
}

.plus,
.minus {
    font-size: 30px;
    font-weight: bold;
}